server:
  port: ${SERVER_PORT:3002}
  servlet:
    context-path: /api

spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/universitiesdb
    username: sa
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    root: INFO
    com.universities: DEBUG
    org.springframework.web: INFO

auth:
  service:
    url: ${AUTH_SERVICE_URL:http://auth-service:3001}
    verify-endpoint: ${AUTH_VERIFY_ENDPOINT:/api/auth/verify}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: when_authorized
